body{
    background-image: url(coucher-soleil.jpg), url(téléchargement.jpg);
    background-size: 25%, 50%;
    background-repeat: no-repeat, no-repeat;  
    background-position: top left, top right;
}